<br>
<br>
<br>
<h1 style="text-align: center">Bienvenue sur notre superbe site de potins!!! </h1>
<p style="text-align: center">Tu veux blablater?alors ne perd pas de temps.</p>
<p style="text-align: center">Suis le guide...</p>
